
:root {
  --color-granate: #bb0838; 
  --color-granate-claro: #f684a2;
  --color-blanco: #FFFFFF;
  --color-texto-claro: #f8f9fa;
  --color-texto-oscuro: #212529;
}



.bg-granate {
  background-color: var(--color-granate) ;
}

.text-granate {
  color: var(--color-granate) ;
}


.btn-primary {
  background-color: var(--color-granate);
  border-color: var(--color-granate);
}

.btn-primary:hover {
  background-color: var(--color-granate-claro);
  border-color: var(--color-granate-claro);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
  color: var(--color-granate) ;
}



/*FORMULARIO */
#hero {
  position: relative;
  min-height: 100vh;
  background-image: url('img/elciegogeneral.png'); 
  background-size: cover;
  background-position: center;
  color: var(--color-granate);
}


#hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); 
}

#hero .container {
  position: relative;
  z-index: 2;
}



#ventajas .icono-ventaja {
  font-size: 3rem;
  color: var(--color-granate);
}

.carousel-control-prev .bi,
.carousel-control-next .bi {
  font-size: 2.5rem;
  color: var(--color-granate); 
}


/*NUESTRO ENTORNO*/
.card-zoom {
  position: relative;
  overflow: hidden; 
  border: none;
  cursor: pointer;
}

.card-zoom .card-img {
  transition: transform 0.4s ease; 
}

.card-zoom .card-img-overlay {
  background-color: rgba(0, 0, 0, 0.6); 
  opacity: 0; 
  transition: opacity 0.4s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-zoom:hover .card-img {
  transform: scale(1.1); 
}

.card-zoom:hover .card-img-overlay {
  opacity: 1; 
}

/* FOOTER ---*/
.footer-iconos a {
  font-size: 1.5rem;
  color: var(--color-texto-oscuro);
  margin-left: 1rem;
  text-decoration: none;
}

.footer-iconos a:hover {
  color: var(--color-granate);
}